<div class="header">LISTA DE PROYECTOS </div>

<!-- <table>
    <thead>
      <tr>
        <th>Proyectos</th>
        <th>Semestre</th>
       
       
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proyecto of proyectoslist">
        <td>{{ proyecto.nombre }}</td>

        <td>{{ proyecto.semestre.semestre }}</td>
      <td>
          <div class="icon-buttons">
            <button mat-flat-button color="primary" (click)="onClick()">ASIGNAR</button>

            <button (click)="editItem(proyecto)">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button (click)="deleteItem(proyecto)">
              <i class="fas fa-trash-alt"></i>
            </button> 

          </div>
        </td>
      </tr>
    </tbody>
  </table>
   -->