<div class="header">ASIGNAR PROYECTO</div>

<table class="table table-striped custom-table">
  <thead class="custom-table-header">
      <tr>
          <th>PROYECTO</th>
          <th>CONVENIO</th>
          <th>ASIGNAR</th>
          <th>SEMESTRE</th>
          <th>ACCIONES</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let proyecto of proyecto">
          <td>{{proyecto.nombre}}</td>
          <td>{{proyecto.convenio.nombre}}</td>
          <td><button>Asignar</button></td>
          <td>{{proyecto.semestre.nombre}}</td>
          <td><button>Edith</button></td>
          <!-- Agrega aquí las acciones que deseas mostrar para cada convenio -->
      </tr>
  </tbody>
</table>