<div class="header">ESTADO DE PROYECTOS</div>

<table>
  <thead>
    <tr>
      <th>Proyectos</th>
      <th>Estado</th>
      <th>Ciclo</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Semestre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proyecto of proyecto">
      <td>{{ proyecto.nombre }}</td>
      <td><button>Estado</button></td>
      <td>{{ proyecto.ciclo}}</td>
      <td>{{ proyecto.inicio | date: 'dd/MM/yyyy'}}</td>
      <td>{{ proyecto.fin | date: 'dd/MM/yyyy' }}</td>
      <td>{{ proyecto.semestre.nombre }}</td>
      <td>
        <div class="icon-buttons">
          <button>
            <i class="fas fa-pencil-alt">.</i>
          </button>
          <button (click)="deleteProyecto(proyecto.id)">
            <i class="fas fa-trash-alt">.</i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>