.header {
  background-color: #073564;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #F9AA21;
  margin-bottom: 20px;
}

.container{
  width: 100%;
  
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 240px;
  
}

td, th {
  width: 25%;
}

button {
  width: 130px; /* Ajusta el ancho a tu preferencia */
  height: 40px; /* Ajusta la altura a tu preferencia */  
  border-radius: 5px;
  color: #fff;
  box-shadow: 2px 2px 4px #073564(0, 0, 0, 0.2);
 
  background-color: #073564;  
}