<div class="header">CONVENIOS</div>

<div class="bon">
    <button class="btn btn-info">Todos</button>
    <div class="filtros">
        <button class="btn btn-info">Activos</button>
    <button class="btn btn-info">Inactivos</button>  
    </div>
    <div class="search-container">
        <!-- <input type="text" id="searchInput">
        <button class="fas fa-search"></button> -->
    </div>
    <button routerLink="/home/registrar-convenio" class="btn btn-new">NUEVO</button>
</div>
<br>


<table class="table table-striped custom-table">
    <thead class="custom-table-header">
        <tr>
            <th>NOMBRE</th>
            <th>TIPO</th>
            <th>INICIO</th>
            <th>FIN</th>
            <th>DISTRITO</th>
            <th>ESTADO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let convenio of convenio">
            <td>{{convenio.nombre}}</td>
            <td>{{formatearFecha(convenio.inicio)}}</td>
            <td>{{formatearFecha(convenio.fin)}}</td>
            <td>{{convenio.referencia}}</td>
            <td>{{convenio.archivo}}</td>
            <td>{{convenio.estado}}</td>
            <td>
                <div class="icon-buttons">
                  <button >
                    <i class="fas fa-pencil-alt">.</i>
                  </button>
                  <button (click)="deleteConvenio(convenio.id)">
                    <i class="fas fa-trash-alt">.</i>
                  </button>
                </div>
              </td>
        </tr>
    </tbody>
</table>